{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block title %}Form Builder{% endblock %}

{% block footer %}
    <p>&copy; <a href="http://gocatalyze.com" target="_blank">GoCatalyze.com</a></p>
{% endblock footer %}
